/* Styling for the "Places" section */
.places {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 20px;
    border: 0;
}

.places h1 {
    font-size: 30px;
    margin-top: 0;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    text-align: center;
    font-size: 30px;
}


article h2 {
    font-size: 30px;
    margin: 0;
}
